//Imports

@import "bootstrap/bootstrap";

//User Styles
$dgray: #212121;
$gray: #070707;
$lgray: #7C7C7C;
$ltgray: #999999;
$green: #86f49b;
$purple: #9192EE;
$white: #F1F1F1;
$yellow: #feca22;
$red: #f82129;

@mixin transition($t) {
  -webkit-transition: all $t ease;
  -moz-transition: all $t ease;
  -ms-transition: all $t ease;
  -o-transition: all $t ease;
  transition: all $t ease;
}

body{
  background: $white;
  color: $white;
  font-family: 'Ubuntu Mono', monospace;
}
#homewrap{
  position: absolute;
  width: 100vw;
  height: 100vh;
  #homepage{
    color: $dgray;
    text-align: center;
    .row{
      min-height:100vh;
    }
    .home-text{
      display: inline-block;
    }
    img{
      display: inline-block;
      max-width: 170px;
      &.inverse{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
    .click{
      cursor: pointer;
      background:$yellow;
      display: inline-block;
      padding: 5px 10px;
      &.red{
        background:$red;
        color: $white;
      }
    }
  }
}

#wrapper{
  border:3px solid $lgray;
  @include transition(0.4s);
  min-height:100vh;
  width: 100vw;
  background: $dgray;
  -webkit-box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
  box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
  transform-origin: bottom;
  transform: scale(0);
  &.visible{
    transform:scale(1);
  }
}


p{
  margin-bottom: 0;
}
nav{
  padding:0 10px !important;
  border-bottom: 3px solid $lgray;
  color:$white;
  font-weight: bold;
  background: #010080;
  /* Old browsers */
  background: -moz-linear-gradient(left, #010080 0%, #107fd0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #010080 0%,#107fd0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #010080 0%,#107fd0 100%);
  .navbar-brand{
    color:white !important;
  }
  a{
    font-size: 0.9rem !important;
  }
  .nav-item{
    text-align: center;
    background:$lgray;
    margin: 2px 5px;
    width:20px;
    height:20px;
    border-width: 1px;
    border-style: solid;
    border-top-color: $ltgray;
    border-left-color: $ltgray;
    border-right-color: $dgray;
    border-bottom-color: $dgray;
    &:hover{
      border-top-color: $dgray;
      border-left-color: $dgray;
      border-right-color: $ltgray;
      border-bottom-color: $ltgray;
    }
    .nav-link{
      color:black;
      padding:0px !important;
      position: relative;
      top: -3px;
      cursor: pointer;
    }
  }
}

#figlet{
  color:$lgray;
  font-size: 0.6rem;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  @media(max-width: 590px){
    font-size: 0.3rem;
  }
}
#consoleinfo{
  position: absolute;
  right: 0px;
  color:$lgray;
  text-align: right;
  padding-top: 10px;
  font-size: 0.7rem;
  @media(max-width: 590px){
    font-size: 0.6rem !important;
  }

  #time,#date,#temp{
    color:$purple;

  }
    p{
      display: inline;
    }

}

.precommand{
  color: $green;
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blinker, #blinker{
  animation: blink 1.5s step-start 0s infinite;
  -webkit-animation: blink 1.5s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

#cardtime{
  position: absolute;
  top: 0px;
  z-index: -100;
}
#links{
  opacity: 0;
  display: none;
  margin-top:20px;
  margin-bottom:20px;
  background:$ltgray;
  padding: 5px;
  transition: all 0.5s ease;
  a{
    display: inline-block;
    padding:3px 6px;
    margin:3px;
    color: $dgray;
    transition:all 0.1s ease;
    text-decoration: none !important;
    cursor: pointer;
    &:hover{
      -webkit-box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
      -moz-box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
      box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
    }
  }
}
.nowvisible{
  opacity: 1 !important;
  display: block !important;
}
.borderwrap{
  border: 1px solid black;
  padding: 15px;
}
.wrapheader{
  text-align: center;
  background: $ltgray !important;
  position: relative;
  top: -20px;
}
#contactform{
  background:$ltgray;
  color: $dgray;
  z-index: 5;
  padding: 5px;
  display: none;
  opacity: 0;
  position: absolute;
  top:120px;
  transition: all 0.5s ease;
  -webkit-box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
  box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
  input, textarea{
      background:none;
      border:1px solid $dgray;
  }
  button, a{
    background: none;
    border:none;
    padding: 5px;
    line-height: 1.2rem;
    &:hover{
      -webkit-box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
      -moz-box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
      box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,1);
    }
  }
  a{
    text-decoration: none !important;
    color: $dgray;
    float:right;
    cursor: pointer;
  }
}
