{{ define "main" }}

<div class="container-fluid">
  <div class="row justify-content-center">

    <div id="consoleinfo" class="col-12">
      <p>~ Melbourne ~ Date</p>
      <p id="date"></p>
      <p>Time</p>
      <p id="time"></p>
      <p>Temp</p>
      <p id="temp"></p>
    </div>

    <div class="col-12">

      <pre id="figlet">
   __
 <(o )___
  ( ._> /                 _     _
   `---'                 | |   | |
   __ _ _   _ _   _  __ _| | __| | ___  _   _ ___   ___ ___  _ __ ___
  / _` | | | | | | |/ _` | |/ _` |/ _ \| | | / __| / __/ _ \| '_ ` _ \
 | (_| | |_| | |_| | (_| | | (_| | (_) | |_| \__ \| (_| (_) | | | | | |
  \__, |\__,_|\__, |\__,_|_|\__,_|\___/ \__,_|___(_)___\___/|_| |_| |_|
   __/ |       __/ |
  |___/       |___/

      </pre>
    </div>

    <div class="col-12" id="console">

      <p><span class="precommand">root@guyaldous.com:~$ </span><span id="0"></span><span id="blinker">_</span></p>

      {{ .Content }}

    </div>
    <div class="col-10 col-lg-8 text-center" id="links">
      <div class="borderwrap">
        <p class="wrapheader">Click a Link</p>
        <a href="https://linkedin.com/in/guy-aldous-691612146/">
          < Linkedin >
        </a><a href="https://lysdexia.digital">
          < Lysdexia Digital >
        </a><a href="https://github.com/guyaldous1">
          < GitHub >
        </a><a id="contact-open">
          < Contact >
        </a>
      </div>
    </div>
    <div class="col-12" id="memes">

    </div>

    <div id="contactform">
      <div class="borderwrap">
        <p class="wrapheader">Contact</p>
      <form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field">
        <p class="hidden" style="display:none !important;">
          <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
        </p>
        <p>
          <label>Your Name: <input type="text" name="name" /></label>
        </p>
        <p>
          <label>Your Email: <input type="email" name="email" /></label>
        </p>
        <!--<p>
    <label>Your Role: <select name="role[]" multiple>
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>-->
        <p>
          <label>Message: <textarea name="message"></textarea></label>
        </p>
        <p>
          <button type="submit">< Send ></button>
          <a  id="contact-close">< x Close ></a>
        </p>
      </form>
    </div>
    </div>
  </div>
</div>

{{end}}
